*{
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    border: 2px solid #00A884;
    width: auto;
    height: 220px;
    background-color: #00A884;
    font-size: 14px;
}

.logo{
    background-color: #00A884;
    margin-left: 140px;
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.logo:nth-child(1) img{
    background-color: #00A884;
}

.logo:nth-child(1) span{
    background-color: #00A884;
    position: absolute;
    top: 34px;
    left: 197px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.body{
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 15px 10px 0px;
    width: 1000px;
    padding: 40px 50px;
    position: absolute;
    top: 90px;
    left: 140px;
}

.smallBox{
    border: 1px solid #D1D7DB;
    border-radius: 4px;
    margin: auto;
    width: 800px;
    padding: 30px 40px;
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
}

.SBcontent:nth-child(2) h4{
    font-size: 17px;
    font-weight: 400;
}

.SBcontent:nth-child(2) p{
    font-size: 14px;
    color: #54656F;
}

#menu{
    margin-bottom: -6px;
    margin-left: 2px;
    margin-right: -3px;
}

#settings{
    margin-bottom: -6px;
    margin-left: 2px;
    margin-right: -3px;
}


.btn{
    padding: 8px;
    width: 120px;
    height: 37px;
    background-color: #008069;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 30px 30px;
}

#mainbody{
    padding: 20px 0px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.section:nth-child(1) p{
    font-size: 28px;
    font-weight: 300;
    color: #41525D;
    padding: 20px;
    margin-top: -15px;
}

.section:nth-child(1) ol{
    padding: 20px 50px;
    color: #3B4A54;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
}

.qrcode{
    width: 300px;
    height: 300px;
    padding: 15px 10px;
}

.link{
    line-height: 120px;
    text-decoration: none;
    color: #1E8F7B;
    font-size: 18px;
    font-weight: 400;
}

.end{
    border: 2px solid #F9F9FA;
    position: absolute;
    top: 780px;
    left: 140px;
    bottom: 100px;
    padding: 30px;
    width: 1000px;
    height: 570px;
    box-shadow: 0px 15px 10px 0px;
    background-color: #F9F9FA;
    border-top: #fff;
    /* margin: auto; */
    text-align: center;
}

.ending:nth-child(1) p{
    color: #41525D;
    font-size: 26px;
    font-weight: 300;
    background-color: #F9F9FA;
}

.ending:nth-child(1) a{
    color: #09846E;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #F9F9FA;
    line-height: 60px;
    /* padding: 5px; */
}

.ending:nth-child(2) video{
    width: 500px;
    padding-top: 40px;
    background-color: #F9F9FA;
}